<!DOCTYPE html>
<html>
<body>
  <div ng-app="Angular13VulnTool" ng-controller="">
    <div class="mat-elevation-z8">
 <!--   <div *ngIf="all">Vulnerability Management Dashboard</div>
    <div *ngIf="closed">Resolved Vulnerabilities</div>
    <div *ngIf="unremediated">Unremediated Vulnerabilities</div>-->  
    <mat-toolbar><span><h2>Administration</h2></span></mat-toolbar>
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search Queue" #input>
  </mat-form-field>
  <button mat-raised-button id="newuser-button" (click)="newUser()">New User</button>
  <table class="table-hover" #dataTable mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"> 
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user"(click)="openUser(user.username)">{{user.email}} </td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user"(click)="openUser(user.username)">{{user.username}} </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let rowData; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons 
  aria-label="Select page">
  </mat-paginator>
    </div>
  </div>
</body>
</html>
