<div mat-dialog-content>
    <div class="form-group"><mat-form-field appearance="fill">
        <mat-label>Closing Outcome</mat-label>
        <mat-select [value]="data"[(ngModel)]="data" name="outcome" placeholder="Select an option">        
          <mat-option *ngFor="let opt of closeOptions" [value]= "opt.value"> {{ opt.viewValue }} </mat-option>
      </mat-select></mat-form-field>
      </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data">Confirm</button>
  </div>