<mat-grid-list cols="1" rowHeight="4:1">
<mat-grid-tile colspan="1" rowspan="2"><app-numberchart></app-numberchart></mat-grid-tile>
<mat-grid-tile colspan="1" rowspan="2"><app-piechart></app-piechart></mat-grid-tile>
<mat-grid-tile colspan="1" rowspan="2">
<app-linechart></app-linechart></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
        <mat-card fxLayout="row" fxLayoutAlign="space-around center"><mat-card-title>
            Tickets In Progress - Breakdown
        </mat-card-title><mat-card-content><app-gaugechart></app-gaugechart></mat-card-content></mat-card></mat-grid-tile>
</mat-grid-list>