table {
    width: 100%;
  }
  body {
    background-color: rgb(188, 192, 194);
  } 
  .table-hover > tbody > tr:hover {
    background-color: #413e3e;
}
.mat-raised-button{
  height:32px !important;
  width:16.66% !important;
  font-size:10px !important;
}
tr[ng-click] {
    cursor: pointer;
}